body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../../assets/body_background.jpg');
}

.container {
  max-width: 83%;
  margin: 50px auto;
  margin-top: 1%;
  padding: 20px;
  border: 2px solid #d6d6d6;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 0.75% 1.5% 0.75%;
  background-color: #ffffff;
  border-bottom: 1px solid #848484;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 7%;
  height: auto;
  margin-right: 2%;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 1.40em;
}

.pageTitle {
  color: #000000;
  font-size: 2.3em;
}

.h1Content {
  padding-top: 2%;
  padding-bottom: 5%;
  color: #0a639e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-size: 1.22em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


.nav {
  display: flex;
  align-items: center;
}

.nav div {
  margin-right: 0.6em;
}

nav a {
  font-size: 1.08em;
  text-decoration: none;
  color: rgb(62, 62, 62);
}

nav a:hover {
  text-decoration: underline;
}

.mainContent {
  margin-top: 7%;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centeredContent {
  text-align: center;
}

.editTagH3{
  margin-top: 3%;
  text-align: left;
}

.successMessage {
  color: rgb(0, 16, 137);
  font-weight: bold;
  margin-bottom: 0.6em;
}

.songTitle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.94em;
  color: #001580;
}

.registerLink {
  display: inline-block;
  padding: 0.3em;
  border-radius: 0.3em;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
}

.loginLink{
  padding: 0.3em 0.5em;
  font-weight: 500;
}

.logoutLink, .myAccountLink{
  font-size: 1em;
  width: 115px;
}

.registerLink:hover,
.myAccountLink:hover {
  background-color: #267fbb;
}

.registerLink:hover,
.logoutLink:hover,
.myAccountLink:hover {
  background-color: #2980b9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Dodany efekt cienia podczas najechania */
}

.loginLink:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.albumCoversContainer {
  bottom: 1%;
  margin-left: -10%;
  overflow: hidden;
  position: fixed;
}

.albumCovers {
  display: flex;
  animation: scrollAlbums 200s linear forwards;
}

.albumCover {
  width: 5.3%;
  flex: 0 0 auto;
  margin-right: 2%;
  margin-left: 1%;
}

.customInput:hover {
  cursor: text;
}

@keyframes scrollAlbums {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 8.8));
  }
}

@media (max-width: 1476px) {
  .registerLink,
  .loginLink,
  .logoutLink,
  .myAccountLink{
    font-size: 1.1em;
    padding: 0.3em;
    white-space: nowrap;
    margin: 2px 0;
  }
}

@media (max-width: 1300px) {
  .logo {
    width: 9%;
  }
  .container{
    max-width: 85%;
  }
}

@media (max-width: 1080px) {
  .logo {
    width: 10.5%;
  }
  .albumCover {
    width: 8.5%;
  }
  .pageTitle{
    margin-right: 10px;
  }
  @keyframes scrollAlbums {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 8));
    }
  }
}

@media (max-width: 880px) {
  .logo {
    width: 12%;
  }
  .registerLink,
  .loginLink,
  .logoutLink,
  .myAccountLink{
    font-size: 1.1em;
    padding: 7px 0;
    white-space: nowrap;
  }
  .albumCover {
    width: 9.5%;
  }
  .logoutLink, .myAccountLink{
    font-size: 1em;
    width: 100px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 15%;
  }
  .container{
    max-width: 84%;
    padding-bottom: 35%;
  }
  .mainContent{
    margin-top: 6%;
  }
  .albumCover {
    width: 14%;
  }
  h1{
    font-size: 1.16em;
  }
  .header{
    font-size: 0.65em;
  }
  .h1Content{
    font-size: 1.05em;
  }
  .logoutLink, .myAccountLink, .registerLink, .loginLink{
    font-size: 1.15em;
    width: 80px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 19%;
  }
  .container{
    max-width: 84%;
    padding-bottom: 46%;
  }
  .albumCover {
    width: 16%;
  }

  .successMessage{
    padding-top: 5%;
  }

  .logoutLink, .myAccountLink, .registerLink, .loginLink{
    font-size: 1.2em;
    width: 80px;
  }
  @keyframes scrollAlbums {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 11.5));
    }
  }
}