/* Dodaj do istniejącego pliku CSS/SCSS */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 0.75%;
  background-color: #ffffff;
  border-bottom: 1px solid #001c50;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 7.5%;
  height: auto;
  margin-right: 1%;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 1.45em;
}

.pageTitle {
  color: #001b50;
  font-size: 2.3em;
}

.h1Content {
  padding-top: 2%;
  padding-bottom: 5%;
  color:#0a639e;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-size: 1.25em;
}

.nav {
  display: flex;
  align-items: center;
}

.nav div {
  margin-right: 0.6em;
}

nav a {
  font-size: 1.08em;
  text-decoration: none;
  color: rgb(62, 62, 62);
}

nav a:hover {
  text-decoration: underline;
}

.mainContent {
  margin-top: 7%;
}

.successMessage {
  color: rgb(0, 16, 137);
  font-weight: bold;
  margin-bottom: 0.6em;
}

/* Arkusz stylów (styles.css) */

.registerLink,
.myAccountLink {
  display: inline-block;
  padding: 0.3em;
  border-radius: 0.3em;
  text-decoration: none;
}

.loginLink,
.logoutLink{
  padding: 0.3em;
}

.registerLink {
  background-color: #3498db; /* Zielony kolor tła dla "Zarejestruj się" */
  color: #fff; /* Biały kolor tekstu */
}

.myAccountLink {
  background-color: #3498db; /* Niebieski kolor tła dla "Moje Konto" */
  color: #fff; /* Biały kolor tekstu */
}

/* Dodatkowy styl dla linków, gdy najedziemy na nie myszką */
.registerLink:hover,
.myAccountLink:hover {
  background-color: #267fbb; /* Ciemniejszy zielony lub niebieski kolor tła po najechaniu myszką */
}

.albumCoversContainer {
  bottom: 1%;
  margin-left: -10%;
  overflow: hidden;
  position: fixed;
}

.albumCovers {
  display: flex;
  animation: scrollAlbums 200s linear forwards;
}

@keyframes scrollAlbums {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 6.9));
  }
}

.albumCover {
  width: 6.5%;
  flex: 0 0 auto;
  margin-right: 2%;
  margin-left: 1%;
}


/* Media queries dla responsywności */
@media (max-width: 1300px) {
  .logo {
    width: 9%; /* Dostosuj szerokość logo dla mniejszych ekranów */
  }
  .container{
    max-width: 85%;
  }
}

@media (max-width: 1080px) {
  .logo {
    width: 10.5%; /* Dostosuj szerokość logo dla mniejszych ekranów */
  }
  .albumCover {
    width: 8.5%;
  }
  @keyframes scrollAlbums {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 8));
    }
  }
}

@media (max-width: 880px) {
  .logo {
    width: 12%; /* Dostosuj szerokość logo dla mniejszych ekranów */
  }
  .registerLink,
  .loginLink,
  .logoutLink,
  .myAccountLink{
    font-size: 1.1em;
    padding: 0.3em;
    white-space: nowrap;
  }
  .container{
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 15%; /* Dostosuj szerokość logo dla mniejszych ekranów */
  }
  .mainContent{
    margin-top: 6%;
  }
  h1{
    font-size: 1.16em;
  }
  .header{
    font-size: 0.65em;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 19%; /* Dostosuj szerokość logo dla mniejszych ekranów */
  }
  .container{
    max-width: 96%;
  }
  .albumCover {
    width: 13%;
  }
  @keyframes scrollAlbums {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 11.5));
    }
  }
}