/* MyAccount.module.css */

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

p {
  margin: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

canvas {
  scale: 145%;
  margin: 8% 0;
}

.songTitlesList{
  color: #002749;
}

.notLoggedInContainer {
  text-align: center;
  margin-top: 20px;
}

.loginButton { /* Kolor tła przycisku */
  color: white;  /* Kolor tekstu na przycisku */
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}