/* Notification.module.css */
.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #5260db;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
