/* SongUploadForm.module.css */

.container {
  display: grid;
  justify-content: center;
}

.formContent {
  text-align: center;
  padding-top: 5%;
}

.fileInput {
  display: none;
}

.customUploadButton {
  padding: 3%;
  margin: 6%;
  background-color: #464646;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.customUploadButton:hover {
  background-color: #242424;
}

.uploadButton {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: #2980b9;
}

.successMessage {
  color: #4CAF50;
  font-weight: bold;
}
