.container {
  display: grid;
  justify-content: center;
  padding-bottom: 7%;
  padding-top: 1.5%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.formContent {
  text-align: center;
  padding-top: 5%;
}

.fileInput {
  display: none;
}

.customUploadButton {
  padding: 15px;
  margin: -5% 5% 3% 5%;
  background-color: #646464;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s; /* Dodaj efekt przejścia */

  /* Gradient tła dla efektu głębokości */
  background-image: linear-gradient(to bottom, #646464, #525252);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodaj cień */
}

.customUploadButton:hover {
  background-color: #525252; /* Zmiana koloru po najechaniu */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Zwiększenie cienia po najechaniu */
}


.uploadButton {
  padding: 10px;
  background-color: #3498db;
  font-size: 1.1em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: #2980b9;
}

.successMessage {
  color: #00325a;
  font-weight: bold;
}

.uploadControls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropArea {
  color: #555; /* Kolor tekstu */
  font-size: 14px; /* Rozmiar tekstu */
  display: block; /* Ustawienie na blok, aby zająć całą szerokość dostępnej przestrzeni */
  cursor: pointer; /* Zmiana kursora na wskaźnik, aby sygnalizować, że można kliknąć */
  margin-top: 2%;
}

.dropArea:hover {
  text-decoration: underline; /* Podkreślenie tekstu po najechaniu myszką */
}

.container.dragging {
  border: 2px dashed #3498db; /* Kolor obramowania podczas przeciągania */
}

.dropArea.dragging {
  color: #3498db; /* Zmiana koloru tekstu podczas przeciągania */
  font-weight: bold; /* Wytłuszczenie tekstu podczas przeciągania */
}

.progressBar {
  width: 100%;
  margin-bottom: 8px;
}

@media (max-width: 500px) {
  .customUploadButton {
    margin-top: 12%;
    font-size: 0.9em;
  }
}