/* TaggedSongInfo.module.css */

.container {
  margin: 20px;
}

.songInfoTitle {
  color: #002ba1;
  text-align: left;
  font-size: 2em;
}

h3 {
  color: #383838;
  text-align: center;
}

p {
  font-size: 16px;
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

.progress-bar-info {
  background-color: #007bff !important;
  border: 1px solid #007bff;
}

.chartContainer {
  max-width: 800px; /* Zwiększam maksymalną szerokość dla lepszego dopasowania wykresów */
  margin: 40px auto;
  text-align: left; /* Dodaję do lewej justyfikacji dla jednolitego wyglądu */
}

.chart-legend {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.chart-legend li {
  display: inline-block;
  margin-right: 10px;
}

.chart-legend span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .chartContainer {
    max-width: 100%;
  }
}

.legendContainer {
  margin-top: 20px;
  text-align: center;
}

.legendItem {
  display: inline-flex; /* Zmiana z inline na inline-flex */
  align-items: center;
  margin-right: 20px;
}

.legendColor {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
}

.songInfo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #001b64;
  font-size: 0.95em;
}

/* TaggedSongInfo.module.css */


